/* Change the background color of the function signature box */
.highlight,
.sig {
    background-color: #68f4ac; /* Light green background */
    padding: 10px;
    border-radius: 4px;
}

.github-badge {
    position: fixed;
    bottom: 0; 
    right: 0; 
    z-index: 1000;
}
